.collection-page{
    margin-top: 100px;
    
    .collection-items{
        width: 100%;  
        text-align: center;
        
        .title{            
            font-size: 28px;
            margin-bottom: 30px;
        }
        
        .items{            
            display: flex;
            flex-wrap: wrap;
        }        
    }
}