$main-color: black;

.signin{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 4px white;
    border-radius: 20px;
    padding: 20px;
    margin-left:50px;
    margin-right:50px;
    justify-content: center;
    box-shadow: 10px 10px 5px rgba(255,255,255,0.2);
}

label{
    font-size: 16px;
    font-weight: bold;
    
}


.group {
    position: relative;
    margin: 20px 0;
  
    .form-input {
      background: none;
      background-color: $main-color;
      font-size: 18px;
      padding: 10px 10px 5px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid white;
      margin: 25px 0;
      display: flex;
      justify-content: space-between;
      

    &:focus {
        outline: none;
      }
    }
 

input[type='password'] {
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: 480px) {
  .signin{
      width: 100%;
  }
}