.dropdown-cart-items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0px 5px 5px 0px;
    color: black;
    font-weight: bold;
    
    img{
         width: 60px;
         height: 60px;
         border: 2px solid black;
         border-radius:5px;
         padding:2px;
    }
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}