.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .collection-title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  