.checkout-collection{
    width: 100%;
    color: white;
    margin: 80px 0px 0px 0px;
    
    .total-amount{
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h1{        
        margin: 10%;
        text-align: center;
    }
    
    .collection-table{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
            table{
                width: 800px;
                text-align: center;
                
                        .table-header{
                            font-weight: bold;
                            font-size: 20px;
                        }
                        
                        .remove,.incrementer,.decrementer{
                            cursor: pointer;
                            font-weight: bold;
                            border: none;
                            color: white;
                            background: transparent;
                        }
                        
                            td{  
                                padding: 15px 0px;
                                  
                                img{
                                        border-radius: 50px;
                                        width: 60px;
                                        height: 60px;
                                    }
                            }
            }
            
    }

}


@media screen and (max-width: 1300px){
    .checkout-collection{
    .total-amount{
        height: 100px;
    }
    }
}