.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .bag-icon {
    position: absolute;
    bottom: 12px;
    width: 34px;
    height: 34px;
  }

  .item-count {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    bottom: 10px;
  }
}
