.footer {
    width:100%;
    background-color: black;
    border-top: 2px solid white;   
    position: fixed;
    bottom: 0px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    
    .footer-icon{
        margin:5px 50px 0px 50px;
    }
}

@media screen and (max-width: 750px) {
      .footer{
          display: flex;
      }
}