$main-color: black;

.sign-up{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid 4px white;
    border-radius:20px;
    padding:20px;   
    margin-left:50px;
    margin-right:50px;
    justify-content: center;
    text-align:center;
    box-shadow: 10px 10px 5px rgba(255,255,255,0.2);}

label{
    font-size: 16px;
    font-weight: bold;    
}

.group {
    margin: 4px 0;
  
    .form-input {
      background: none;
      background-color: $main-color;
      font-size: 18px;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid white;
      margin: 10px 0;
      background: transparent;      
      display: flex;
      justify-content: center;

    &:focus {
        outline: none;
      }
    }
 

input[type='password'] {
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: 480px) {
  .sign-up{
      width: 100%;
      margin-top: 30px;
  }
}