.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 0 7.5px 15px;
    overflow: hidden;
    
    &:hover {
      cursor: auto;          
      & .background-image {
        opacity: 0.9;
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        cursor: pointer;
        opacity: 0.9;
      }
    }
    

    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .background-image{
      width: 100%;
      height: 100%;
    background-position: center;
    background-size: cover;

    }
    .content {
      width: 100px;
      height: 70px;
      padding: 0px 20px 0px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: white;
      position: absolute;
  
      .title {
        font-weight: bold;
        font-size: 100%;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }
  
  @media screen and (max-width: 480px) {
      .menu-item{
          &.large{
              height:240px;
          }
      }
}