.header {
  position: fixed;
  z-index: 1;
  top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 5px 20px;
    border-bottom: 2px solid;
    background-image: url('https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=826');
    
  .site-name{
    font-size: 42px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
  }
  
    .options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 7px;
  
      .option {
        font-weight: bold;
        padding: 10px 15px;
        cursor: pointer;
        margin: 5px;
        
        &:hover{
          border-bottom: solid 1px white;
          border-radius:20px;
          transition: border 1s;
        }
      }
  }
}
  
  .present-user{
      display: flex;
  }
  
  @media screen and (max-width: 750px) {
  .option{
     display: none;
  }
}